.color-title{
    font-weight: normal;
}

#red{
    color: red;
}

#orange{
    color: orange;
}

#yellow{
    color: yellow;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#green{
    color: green;
}

#blue{
    color: blue;
}

img{
    height: 200px;
    width: 200px;
}
